{extend name="$base" /}
{block name="resources"}
<style>
    .ns-main{margin-top:0px;}
    .modal-div{width:90%;margin:auto}
    .modal-dl{overflow:hidden}
    .modal-dl dt{line-height:33px;float:left;font-weight:400}
    .modal-dl dd{float:left}
    .modal-dl dd span{display:block;color:#de533c}
</style>
{/block}
{block name="main"}
<table class="mytable">
    <tr>
        <td>
            <select id="select-user-status" class="select-common">
                <option value="all">全部</option>
                <option value="1">申请中</option>
                <option value="2">申请通过</option>
                <option value="3">申请拒绝</option>
                <option value="4">封禁</option>
            </select>
            <input type="text" id='search-text' placeholder="请输入关键字" class="input-common" />
            <input type="button" class="btn-common" onclick="searchData()" value="搜索" />
        </td>
    </tr>
</table>
<table class="table-class">
    <colgroup>
        <col style="width: 2%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 10%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 13%;">
        <col style="width: 15%;">
    </colgroup>
    <thead>
    <tr align="center">
        <th></th>
        <th>ID</th>
        <th>真实姓名</th>
        <th>手机号</th>
        <th>身份证号</th>
        <th>微信号</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade hide" id="forbiddenUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">拒绝/封禁原因</h3>
            </div>
            <div class="modal-body">
                <div class="modal-div">
                    <input type="hidden" id="user_id" value=""/>
                    <input type="hidden" id="user_status" value=""/>
                    <dl class="modal-dl">
                        <dt>原因:</dt>
                        <dd>
                            <input  type="text" id="refuse_reason" value=""/>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="up_id"/>
                <input type="hidden" id="no_arr" value=""/>
                <button type="button" class="btn-common btn-big" onclick="forbiddenUser();">修改</button>
                <button type="button" class="btn-common-cancle btn-big" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
    function LoadingInfo(page_index) {
        var keyword = $("#search-text").val();
        var user_status = $("#select-user-status").val();
        $.ajax({
            type : "post",
            url : "{:__URL('__URL__/NsWxappLive/ADMIN_MODULE/user/index')}",
            data : {"page_index" : page_index, "page_size" : $("#showNumber").val(), "keyword" : keyword, "status": user_status},
            success : function(data) {
                if (data["data"].length > 0) {
                    $(".table-class tbody").empty();
                    for (var i = 0; i < data["data"].length; i++) {
                        var html = '';
                        html += '<tr align="center">';
                        html += '<td></td>'
                        html += '<td>' + data['data'][i]['id'] +'</td>';
                        html += '<td>' + data["data"][i]["true_name"] + '</td>';
                        html += '<td>' + data["data"][i]["mobile"] + '</td>';
                        html += '<td>' + data["data"][i]["identity_card"] + '</td>';
                        html += '<td>' + data["data"][i]["wechat_id"] + '</td>';
                        switch (data['data'][i]['status']) {
                            case 1:
                                html += '<td>申请中</td>';
                                html += '<td><a href="javascript:void(0);" onclick="changeStatus(' + data['data'][i]['id'] + ',2)">通过</a><a href="javascript:void(0);" onclick="showForbiddenUser(' + data['data'][i]['id'] + ',3)">拒绝</a><a href="' + __URL("__URL__/NsWxappLive/ADMIN_MODULE/user/show?id="+data['data'][i]['id']) + '">详情</a></td>';
                                break;
                            case 2:
                                html += '<td>申请通过</td>';
                                html += '<td><a href="javascript:void(0);" onclick="showForbiddenUser(' + data['data'][i]['id'] + ',4)">封禁</a><a href="' + __URL("__URL__/NsWxappLive/ADMIN_MODULE/user/show?id="+data['data'][i]['id']) + '">详情</a></td>';
                                break;
                            case 3:
                                html += '<td>申请拒绝</td>';
                                html += '<td><a href="javascript:void(0);" onclick="changeStatus(' + data['data'][i]['id'] + ',2)">通过</a><a href="' + __URL("__URL__/NsWxappLive/ADMIN_MODULE/user/show?id="+data['data'][i]['id']) + '">详情</a></td>';
                                break;
                            case 4:
                                html += '<td>被封禁</td>';
                                html += '<td><a href="javascript:void(0);" onclick="changeStatus(' + data['data'][i]['id'] + ',2)">解除封禁</a><a href="' + __URL("__URL__/NsWxappLive/ADMIN_MODULE/user/show?id="+data['data'][i]['id']) + '">详情</a></td>'
                                break;
                        }

                        html += '</tr>';
                        $(".table-class tbody").append(html);
                    }
                } else {
                    var html = '<tr align="center"><td colspan="8">暂无符合条件的数据记录</td></tr>';
                    $(".table-class tbody").html(html);
                }
                initPageData(data["page_count"],data['data'].length,data['total_count']);
                $("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
            }
        });
    }

    function changeStatus(id, status) {
        $("#dialog").dialog({
            buttons:
            {
                "确定,#0059d6,#fff": function() {
                    $(this).dialog('close');
                    $.ajax({
                        type : "post",
                        url : "{:__URL('__URL__/NsWxappLive/ADMIN_MODULE/user/modifyUserStatus')}",
                        data : {'id' : id, 'status' : status},
                        success : function(data) {
                            if(data["code"] > 0 ){
                                showTip(data["message"],'success');
                                window.location.reload();
                            }else{
                                showTip(data["message"],'error');
                            }
                        }
                    })
                }
            },
            contentText:"确定要修改状态吗",
            title:"消息提醒"
        });
    }

    function showForbiddenUser(id, status) {
        $("#user_id").val(id);
        $("#user_status").val(status);
        $("#forbiddenUser").modal('show');
    }

    function forbiddenUser() {
        var id = $("#user_id").val();
        var status = $("#user_status").val();
        var refuse_reason = $("#refuse_reason").val();
        if (refuse_reason == '') {
            showMessage('error', "拒绝原因不能为空！");
            return false;
        }
        $("#dialog").dialog({
            buttons:
                {
                    "确定,#0059d6,#fff": function() {
                        $(this).dialog('close');
                        $.ajax({
                            type : "post",
                            url : "{:__URL('__URL__/NsWxappLive/ADMIN_MODULE/user/modifyUserStatus')}",
                            data : {'id' : id, 'status' : status, 'refuse_reason' : refuse_reason},
                            success : function(data) {
                                if(data["code"] > 0 ){
                                    showTip(data["message"],'success');
                                    window.location.reload();
                                }else{
                                    showTip(data["message"],'error');
                                }
                            }
                        })
                    }
                },
            contentText:"确定要修改状态吗",
            title:"消息提醒"
        });
    }

    function searchData(){
        LoadingInfo(1);
    }
</script>
{/block}