<script type="text/javascript" charset="utf-8" src="__ROOT__/addons/NsDiyView/template/wap/public/js/iscroll.js"></script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/addons/NsDiyView/template/wap/public/js/navbarscroll.js"></script>
<style>
.discount-box{
	background:#fff;
	padding:0px 10px;
	overflow:hidden
}
.discount-box .discount-title{
	padding:11px 0px;
	clear: both;
    display: flex;
}
.discount-box .discount-title h4{
	margin:0px;
	font-size:16px;
	position:relative;
	width: 78%;
    float: left;
}
.discount-box .discount-title .more{
/* 	width: 20%; */
    float: right;
    text-align: right;
	color:#ff0036;
	font-size:12px;
}
.discount-box .discount-title h4 span{
	margin-left:10px;
	color:rgba(23, 22, 22, 0.68);
	 font-weight: normal;
	font-size:12px;
	position:absolute;
	top:3px
}
.discount-box .discount-title h4 em{
	background:rgba(23, 22, 22, 0.68);
	color:#fff;
	padding:3px;
	margin:0px 3px;
	border-radius: 3px;
}
.discount-box .discount-goods-box .discount-goods{
	width:120px;
	float:left;
	padding-left: 10px !important;
	padding-bottom:12px;
}
.discount-box .discount-goods-box .discount-goods:nth-child(1){
	width:110px;
	padding-left:0px !important;
	padding-bottom:12px;
}
.discount-box .discount-goods .goods-img{
	width:110px;
	height:110px;
	border-radius: 5px;
    border: 1px solid #eee;
}
.discount-box .discount-goods .goods-img img{
	border-radius: 5px;
}
.discount-box .discount-goods p{
/* 	text-align:center; */
/* 	font-size:10px; */
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.discount-box .discount-goods .goods-name{
	font-size:12px;
	color:#000;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top:5px;
}
.discount-box .discount-goods .goods-price{
/* 	text-align:center; */
/* 	display:inline-block; */
	padding-top:5px;
}
.discount-box .discount-goods .goods-price span:nth-child(1){
	color:#ff0036;
	margin-right:3px;
	font-size:14px;
	
}
.discount-box .discount-goods .goods-price span:nth-child(2){
/* 	color: #898989; */
    font-size:12px;
}
.discount-title img{width:70px;}
.disleft{
	    float: left;
    line-height: 28px;
/*     position: relative; */
/*     left: 10px; */
    color: #9a9595;
	font-size:12px;
}
.disright{
	float:right;
	color:#898989;
/* 	position: relative; */
/*     right: 10px; */
	line-height:28px;
	font-size:12px;
	text-decoration: line-through;
}
.promotionclass{font-size: 14px;color: #ff0036;}
.priceclass{text-decoration: line-through;font-size:12px;}
.discount-box .discount-title a{
	position:absolute;
	right:10px;
	font-size:12px;
	padding-right:15px;
	color:#ff0036;
}
.discount-box .discount-title a:before{
	position:absolute;
	right:0px;
	top:0px;
	font-size:12px;
}
</style>
{php}
	 $discount_data = api("System.Goods.newestDiscount");
     $discount = $discount_data['data'];
{/php}
{if condition = "$discount"}
<div class="discount-box" >
	<div class="discount-title">
		<h4>
		<img src="__STATIC__/wapCustomTemplate/images/index-discount.png"/>
			<span class="remaining-time" starttime="{$discount.start_time|date='Y-m-d H:i:s',###}" endtime="{$discount.end_time|date='Y-m-d H:i:s',###}">
				<em class="day">0</em>天
				<em class="hours">00</em>:
				<em class="min">00</em>:
				<em class="seconds">00</em>
			</span>
		</h4>
		<a href="{:__URL('APP_MAIN/goods/discount')}" class="iconfont iconright">查看更多</a>
	</div>
	<div class="wrapper" id="wrapper1">
		<div class="scroller">
			<ul class="discount-goods-box">
				{volist name="$discount['goods_list']" id="item"}
				<li class="discount-goods">
					<a href="{:__URL('APP_MAIN/goods/detail?goods_id='.$item['goods_id'])}">
						<div class="goods-img">
							<img alt="" src="{:__IMG($item.pic_cover_small)}">
	<!-- 						<img src="__STATIC__/wapCustomTemplate/images/pintuan-hot.png" style="top: -108px;position: relative;width: 40px;border-radius:0;"/> -->
						</div>
						<p class="goods-name">{$item.goods_name}<p>
						<div class="goods-price">
							<p class="promotionclass">￥{$item.promotion_price}</p>
							<p class="priceclass">￥{$item.price}</p>
						</div>
					</a>														
				</li>
				{/volist}
			</ul>
		</div>
	</div>
</div>
{/if}
<script>
var lang_index = {
		activity_over : "{:lang('activity_over')}",
		days : "{:lang('days')}"
	};
$(function(){
	   //直接调用这行代码
	   $('.wrapper').navbarscroll();
	   updateEndTime();
});
function updateEndTime() {
	var date = new Date();
	var time = date.getTime(); //当前时间距1970年1月1日之间的毫秒数
	
	$(".remaining-time").each(function (i) {
		var endDate = this.getAttribute("endTime"); //结束时间字符串
		
		//转换为时间日期类型
		var endDate1 = eval('new Date(' + endDate.replace(/\d+(?=-[^-]+$)/, function (a) {
			return parseInt(a, 10) - 1;
		}).match(/\d+/g) + ')');
		
		var endTime = endDate1.getTime(); //结束时间毫秒数
		
		var lag = (endTime - time) / 1000; //当前时间和结束时间之间的秒数
		
		if (lag > 0) {
			var second = Math.floor(lag % 60);
			var minite = Math.floor((lag / 60) % 60);
			var hour = Math.floor((lag / 3600) % 24);
			var day = Math.floor((lag / 3600) / 24);
			second = second < 10 ? '0' + second : second;
			minite = minite < 10 ? '0' + minite : minite;
			hour = hour < 10 ? '0' + hour : hour;
			day = day < 10 ? '0' + day : day;
			$(this).find(".day").html(day);
			$(this).find(".hours").html(hour);
			$(this).find(".min").html(minite);
			$(this).find(".seconds").html(second);
		} else {
			$(this).html(lang_index.activity_over + "！");
		}
	});
	setTimeout("updateEndTime()", 1000);
}
</script>